

$deep-blue: rgba(23, 33, 43, 1);
$night-blue: rgba(17, 25, 33, 1);
$dark-blue-gray: rgba(44, 52, 63, 1);
$neutral-gray-text: rgba(123, 133, 143, 1);
$dark-gray: rgba(87, 100, 117, 1);
$light-gray: rgba(223, 233, 235, 0.705);
$light-gray-text: rgba(223, 233, 235, 1);
$blue-accent: rgba(0, 179, 212, 1);
$orange-accent: rgba(230, 150, 29, 1);
$green-accent: rgba(11, 201, 98, 1);
$red-accent: rgba(227, 99, 99, 1);
$white-accent: rgba(255, 255, 255, 1);
$purple: #c300ff8a;
$purple-light: #c300ff3b;

