@import '@styles';
.generateClientModal {
  width: 70vw !important;
  top: 20px !important;

  &__title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    max-height: calc(100vh - 175px);
    max-width: 600px;
    min-width: 70%;
    width: 100%;
    padding-right: 5px;
    @include customScroll();
  }

}
.marked {
  background: #c300ff8a;
  border-radius: 3px;
  padding: 0 3px;
  display: inline-flex;
  align-items: center;
}
:global {
  .ant-tooltip-inner > p {
      margin-bottom: 0;
  }
  .ant-tooltip {
      max-width: 300px !important;
  }
}