@import '@styles';
.swaggerItemListWrap {
  width: 100%;
  padding-top: 3rem;
  position: relative;

  & .swaggerItemList {
    height: calc(100vh - 3rem);
    max-height: 100vh;
    padding: 1rem;

    @include customScroll(
      $night-blue
    );
    &.loading {
      filter: blur(2px);
    }
  }
}
